@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8FAFC;
  color: #334155;
  font-family: 'Inter', system-ui, sans-serif;
}

